[flake8]
# temporarily ignore these errors to fix linting incrementally.
# E402: module level import not at top of file (will be fixed by isort)
# F401: 'module' imported but unused (will be fixed by autoflake)
# E501: line too long (**removed to lint)
# F541: f-string is missing placeholders (**removed to lint)
# E226: missing whitespace around arithmetic operator (to resolve black/flake8 conflict)
ignore = E402, F401, E226
# files/folders to exclude from checks
exclude = venv, .venv, .git, __pycache__, build, dist
# max line length for E501 checks
max-line-length = 120
