# Environment variables (API keys)
.env

# Logs
*.log
logs/
oldlogs/

# Python cache/compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE / OS specific files
.vscode/
.DS_Store

# Template Backups
templates/backups/

# Virtual environment (to come)
venv/
*.venv
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# VS Code Local History
.vscode/History/

# OS crap
Thumbs.db
Backup_batch
backup.py
